<%- include("partials/header"); -%>

<h1>Compose</h1>
<form class="" action="/compose" method="post" enctype="multipart/form-data">
    <div class="form-group">
        <label>Title</label>
        <input class="form-control" type="text" name="composeTitle">
        <label>Post Description</label>
        <textarea class="form-control" name="composeBody" rows="5" cols="30"></textarea>
          <label for="image">Upload Image</label>
            <input type="file" id="image" name="image" required />
          
      </div>
      <button class="btn btn-primary" type="submit" name="button">Publish</button>
      <a href="/logout">Logout</a>
      <a href="/editposts">Edit posts</a>
</form>



<%- include("partials/footer"); -%>