<%- include("partials/header"); -%>
<center><h1>Log In</h1></center>
        <form class="" action="/login" method="post">
            <div class="login-group">
                <input class="login-control" type="email" name="email" placeholder="Enter email">
                <input class="login-control" type="password" name="password" placeholder="Enter password">
                <button class="btn btn-primary" type="submit">Login</button>
            </div>
        </form>
    </body>
</html>

<%- include("partials/footer"); -%>