<%- include("partials/header"); -%>
<h1>Log In</h1>
<br>
        <form class="" action="/login" method="post">
            <div class="login-group">
                <input class="login-control" type="email" name="email" placeholder="Enter email" style="border-radius:50%; border: 1px solid white">
                <input class="login-control" type="password" name="password" placeholder="Enter password" style="border-radius:50%; border: 1px solid white;">
                <button class="btn btn-primary" type="submit" style="background-color: grey; border:0cap" >Login</button>
            </div>
        </form>
    </body>
</html>

<%- include("partials/footer"); -%>